<form>
    {{#each parts}}
    <h3>{{localize (concat "PENDRAGON." (capital @key))}}</h2>
    <div class="flex-container" data-part="{{@key}}">
        <input type="text" name="system.armor.parts.{{@key}}.type" value="{{this.type}}" placeholder="{{localize "PENDRAGON.Type"}}" />
        <input type="number" name="system.armor.parts.{{@key}}.value" value="{{this.value}}" />
        <input type="checkbox" name="system.armor.parts.{{@key}}.worn" {{checked this.worn}} />
    </div>
    {{/each}}
    <button type="submit" name="submit">
        <i class="fas fa-check"></i> OK
    </button>
</form>