<h4><strong>{{category}}: {{label}} — {{base}}{{#if modifiers}} + {{modifiers}}{{/if}}</strong></h4>
<div class="result">
    Result: <span class="{{degree}}">{{localize (concat "PENDRAGON." (capital degree))}}</span>
</div>
