<ol class="events pen-grid pen-container">
    <li>
        <span>{{localize "PENDRAGON.Date"}}</span>
        <span></span>
        <span>{{localize "PENDRAGON.Glory"}}</span>
        <span></span>
    </li>
    {{#each inventory.event}}
    <li>
        <span class="summarize">{{this.system.date}}</span>
        <span class="summarize">{{this.name}}</span>
        <span>{{this.system.glory}}</span>
        <span>
            <a class="item-edit" data-item-id="{{this._id}}"><i class="fas fa-pen-to-square"></i></a>
            <a class="item-delete" data-item-id="{{this._id}}"><i class="fas fa-xmark"></i></a>
        </span>
    </li>
    {{/each}}
</ol>