<div class="health pen-container">
    <span>
        <abbr title="{{localize "PENDRAGON.HitPoints"}}">
            {{localize "PENDRAGON.HitPointsShort"}}
        </abbr>
        <input type="number" name="system.hp.value" value="{{actor.system.hp.value}}"/> / {{actor.system.hp.max}}
    </span>
    <span>
        Debilitated
        <input type="checkbox" name="system.debilitated" {{checked actor.system.debilitated}}/>
    </span>
    <span>
        Aggravated
        <input type="number" name="system.damage.aggravated" value="{{actor.system.damage.aggravated}}"/>
    </span>
    <span>
        Deterioration
        <input type="number" name="system.damage.deterioration" value="{{actor.system.damage.deterioration}}"/>
    </span>
    <ol class="health-derived pen-grid">    
        <li><span>{{localize "PENDRAGON.Healing"}}</span><span>{{actor.system.derived.healing}}</span></li>
        <li><span>{{localize "PENDRAGON.Knockdown"}}</span><span>{{actor.system.derived.knockdown}}</span></li>
        <li><span>{{localize "PENDRAGON.MajorWound"}}</span><span>{{actor.system.derived.majorWound}}</span></li>
        <li><span>{{localize "PENDRAGON.Unconcious"}}</span><span>{{actor.system.derived.unconscious}}</span></li>
    </ol>
</div>