<div class="joust">
    <h3>{{localize "PENDRAGON.JoustScore"}}</h3>
    <div class="flex-container">
        <h4>{{localize "PENDRAGON.Wins"}}</h4>
        <input type="number" name="system.joust.wins" value="{{actor.system.joust.wins}}"/>
        <h4>{{localize "PENDRAGON.Loses"}}</h4>
        <input type="number" name="system.joust.loses" value="{{actor.system.joust.loses}}"/>
    </div>
</div>